/* .myClass {
    color: red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
} */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    /* min-width: 500px; */
    background-color: rgb(239, 239, 248);
}

/* #root {
    min-width: ;
} */

a {
    color: rgb(10, 40, 132);
    text-decoration: none;
}

a:hover {
    color: royalblue;
}

/* a:visited {
    color: rgb(10, 40, 132);
} */

.header {
    height: 4em;
    margin: 0;
    border-bottom: 1px solid lightgray;
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    box-shadow: 0 0 4px lightgray;
}

.return {
    min-width: 4em;
    /* padding: 0 10px; */
    cursor: pointer;
    transition-duration: 0.25s;
    color: rgb(10, 40, 132);
}

.return:hover {
    color: white;
    background-color: rgb(10, 40, 132);
}

.arrow {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%) rotate(0.5turn);
    transform: translate(-50%, -50%) rotate(0.5turn);
}

.user-info {
    display: flex;
    margin-right: 15%;
}

.user {
    padding: 0 10px;
}

.user-name-title {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.user-name,
.user-title {
    text-align: end;
}

.user-name {
    color: royalblue;
}

.user-title {
    color: darkgray;
    font-size: smaller;
}

.user-photo {
    max-width: 3.5rem;
    /* max-height: 90%; */
    border-radius: 50%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main {
    padding: 10px 10%;
}

.block {
    border: 1px solid;
    border-color: lightgray;
    border-radius: 10px;
    margin: 10px auto;
    /* min-width: 50vw; */
    overflow-wrap: anywhere;
}

.upload {
    display: flex;
    justify-content: space-between;
}

.upload-file {
    border: 1px solid;
    border-color: lightgray;
    border-radius: 10px;
    margin: 10px;
    width: 50%;
}

.button-with-icon {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.image {
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 10px;
    /* position: relative;
    margin: 10px;
    width: 13vw;
    height: 13vw; */
    width: calc(100% - 1px);
    /* height: 0; */
    padding-top: calc(100% - 1px);
    cursor: pointer;
    transition-duration: 0.25s;
}

.selected {
    background-color: royalblue;
    transform: scale(0.9);
}

/* .image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

input {
    margin-left: 10px;
    margin-right: 10px;
}

div.upload-file input {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

button {
    background-color: royalblue;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.25s;
    /* display: flex;
    grid-template-columns: auto auto;
    gap: 10px; */
}

button:hover {
    background-color: rgb(10, 40, 132);
}

button:active {
    transition-duration: 0.1s;
    transform: scale(0.96);
}

button p {
    margin: 0;
}

/* .upload-button::after {
    content: 'hehe';
    margin-right: 6px;
} */



.paul-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0px 4px gainsboro;
    z-index: 100;
}

.m-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0.5;
}

.nav {
    display: flex;
    /* justify-content: center; */
    /* justify-items: center; */
    align-items: center;
    margin-right: auto;
}

.href {
    padding: 0 10px;
}

.selection-container {
    position: absolute;
    transform: translateX(-40px);
}

.selection-checkbox {
    width: 1rem;
    height: 1rem;
}

.create-new-item-button {
    position: fixed;
    bottom: 50px;
    left: 2.5%;
}

div.create-new-item-button>button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0 0 4px rgb(10, 40, 132);
}