:root {
    --textarea-height: 180px;
}

.rephrase-main {
    min-width: 1089px;
    /* ??? */
    padding: 10px 10%;
}

.rephrase-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.rephrase-title-container {
    display: flex;
    justify-content: space-between;
}

.rephrase-title-container>div>button {
    margin-right: 0;
}

.rephrase-project-title-container {
    display: flex;
}

.rephrase-project-title-container>h2 {
    margin: auto;
}

#rephrase-title-input {
    margin: auto;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkgray;
    border: none;
}

button.rephrase-save-button {
    margin: auto 10px;
    padding: 4px;
    color: green;
    background-color: white;
    border: 1px solid green;
}

.rephrase-workspace-container {
    display: flex;
    justify-content: space-between;
}

.rephrase-workspace-left-container,
.rephrase-workspace-right-container {
    width: 100%;
    min-width: 517px;
}

.rephrase-workspace-submit-container {
    max-width: 55px;
    display: flex;
    justify-content: center;
}

.rephrase-workspace-submit-container>button {
    position: relative;
    font-size: 1.8rem;
    padding: 16px;
    border-radius: 50%;
    box-shadow: 0 0 4px royalblue;
    margin-top: calc((var(--textarea-height) / 2) - (1.8rem / 2) - (16px / 2) + 35px + 51.5px);
    /* (высота textarea) - (высота шрифта) - (паддинги) + отступ сверху */
    margin-bottom: auto;
}

.rephrase-workspace-left-options {
    display: flex;
    justify-content: space-between;
}

.rephrase-workspace-left-options>button {
    margin: auto 10px auto 0;
    min-width: 30px;
    height: 30px;
    padding: 0;
    background-color: darkgray;
    border-radius: 50%;
    transform: none;
    cursor: default;
}

.rephrase-workspace-left-options>div {
    display: flex;
    flex-direction: row-reverse;
}

.rephrase-workspace-left-options>div>button {
    margin: auto;
}

.rephrase-mode-dropdown {
    display: none;
    position: absolute;
    width: max-content;
}

.rephrase-mode-dropdown.show {
    display: contents;
}

.rephrase-mode-dropdown>button {
    margin: 0 10px 0 0;
}

.rephrase-workspace-left-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input#use-synonyms {
    margin: 0 0 0 10px;
}

.rephrase-textarea-container {
    display: grid;
    gap: 10px;
    align-items: center;
}

button.rephrase-delete {
    position: absolute;
    transform: translateX(-52px);
    background-color: red;
}

button.rephrase-delete:active {
    transition-duration: 0.1s;
    transform: translateX(-52px) scale(0.96);
}

#rephrase-textarea {
    min-height: var(--textarea-height);
    border: none;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    overflow-y: hidden;
}

.rephrase-textarea-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-red {
    color: red;
}

.rephrase-workspace-right-container {
    margin-top: calc(35px + 51.5px);
    /* ??? */
}

.rephrase-add-fragment-container {
    display: grid;
    grid-template-columns: 1fr 55px 1fr;
    position: relative;
    bottom: calc(50px - 1em);
}

.rephrase-add-fragment-container>div {
    min-width: 517px;
}

.rephrase-add-fragment-container>div>button {
    position: relative;
    margin: auto 25%;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.rephrase-projects>a>button {
    width: 200px;
    height: 100px;
    box-shadow: 0 0 4px royalblue;
}

.rephrase-projects>button {
    width: 200px;
    height: 100px;
    box-shadow: 0 0 4px royalblue;
    margin: 0;
}

.rephrase-add-first-fragment-container>button {
    position: relative;
    margin: auto;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 25%;
}

#rephrase-textarea-personal {
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    overflow-y: hidden;
}

.rephrase-paragraph-selection {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    min-height: var(--textarea-height);
}

.rephrase-paragraph-selection>p {
    margin: 0 0 15px 0;
    font-size: smaller;
}

.rephrase-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}