:root {
    --textarea-height: 180px;
}

.rephrase-main {
    min-width: 1000px;
    /* ??? */
    padding: 10px 10%;
}

.rephrase-title-container {
    display: flex;
    justify-content: space-between;
}

.rephrase-title-container>div>button {
    margin-right: 0;
}

.rephrase-project-title-container {
    display: flex;
}

.rephrase-project-title-container>h2 {
    margin: auto;
}

#rephrase-title-input {
    margin: auto;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkgray;
    border: none;
}

.rephrase-project-title-container>button {
    margin: auto 10px;
    padding: 4px;
    color: royalblue;
    background-color: white;
    border: 1px solid royalblue;
}

.rephrase-project-title-container>button.rephrase-save-button {
    color: green;
    border: 1px solid green;
}

.rephrase-workspace-container {
    display: flex;
    justify-content: space-between;
}

.rephrase-workspace-left-container,
.rephrase-workspace-right-container {
    width: 100%;
}

.rephrase-workspace-submit-container {
    max-width: 55px;
    display: flex;
    justify-content: center;
}

.rephrase-workspace-submit-container>button {
    position: relative;
    font-size: 1.8rem;
    padding: 16px;
    border-radius: 50%;
    box-shadow: 0 0 4px royalblue;
    margin-top: calc((var(--textarea-height) / 2) - (1.8rem / 2) - (16px / 2) + 105px);
    /* (высота textarea) - (высота шрифта) - (паддинги) + отступ сверху */
    margin-bottom: auto;
}

.rephrase-workspace-left-options {
    display: flex;
    justify-content: space-between;
}

.rephrase-workspace-left-options>button {
    margin: auto 0;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: darkgray;
    border-radius: 50%;
    transform: none;
    cursor: default;
}

.rephrase-workspace-left-options>div>button {
    margin-right: 0;
}

.rephrase-workspace-left-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input#use-synonyms {
    margin: 0 0 0 10px;
}

.rephrase-textarea-container {
    display: flex;
    align-items: center;
}

button.rephrase-delete {
    position: absolute;
    transform: translateX(-52px);
    background-color: red;
}

button.rephrase-delete:active {
    transition-duration: 0.1s;
    transform: translateX(-52px) scale(0.96);
}

#rephrase-textarea {
    width: 100%;
    min-height: var(--textarea-height);
    border: none;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    overflow-y: hidden;
}

.rephrase-textarea-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rephrase-textarea-bottom>button {
    position: relative;
    right: 50%;
    margin: 10px 0;
}

.rephrase-workspace-right-container {
    margin-top: 105px;
    /* ??? */
}

.rephrase-add-fragment-container {
    display: grid;
    grid-template-columns: 1fr 55px 1fr;
    position: relative;
    bottom: calc(50px - 1em);
}

.rephrase-add-fragment-container>button {
    position: relative;
    margin: auto 25%;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}